/*搜索結果展示*/
.search-company-content {
    overflow: hidden;
    background-color: #fff !important;
    margin: 2rem auto;
    padding: 2rem 1rem;
}

@media screen and (max-width: 767px) {
    .search-company-content {
        padding: 2rem 15%;
    }
}

.info-part {
    padding: 11px;
}

.company-list {
    border-radius: 5px;
    box-sizing: border-box;
    margin: 2% auto;
    padding: 0 !important;
    width: 100%;
    height: 155px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    cursor: pointer;
}

.company-list:hover {
    -moz-box-shadow: 0 4px 7px #e7e7e7;
    -webkit-box-shadow: 0 4px 7px #e7e7e7;
    box-shadow: 0 5px 10px #e7e7e7;
}

@media screen and (max-width: 991px) {
    .company-list {
        height: 180px;
    }

    .info-part {
        padding: 24px 20px;
    }

    .company-list-img {
        height: 85px !important;
        line-height: 85px !important;
    }

}

@media screen and (max-width: 450px) {
    .info-part {
        padding: 24px 10px;
    }

    .company-list-img {
        height: 90px !important;
        line-height: 90px !important;
    }

    .company-list-img img {
        max-width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .company-list-img {
        height: 80px !important;
        line-height: 80px !important;
    }
}

.company-list-img {
    display: inline-block;
    max-width: 150px;
    width: 40%;
    height: 100px;
    line-height: 100px;
    border: 1px solid #e8e8e8;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.company-list-img img {
    display: inline-block;
    max-width: 90%;
    max-height: 100%;
    vertical-align: middle;
}

.info-part1 {
    display: inline-block;
    height: 100px;
    overflow: hidden;
    vertical-align: middle;
    color: #536a82;
    padding-left: 15px;
    padding-top: 10px;
    width: 55%;
    text-align: left;
}

.info-part1-slogan {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-part1-num {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-part1-name {
    color: black;
    font-weight: bold;
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-part2 {
    width: 100%;
    height: 32px;
    line-height: 32px;
    background-color: #fafafa;
    overflow: hidden;
}

.info-part2-span1, .info-part2-span2, .info-part2-span3 {
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    color: #b4b4b4;

}

.info-part2-span1 {
    padding-left: 18px;
    width: 35%;
    text-align: left;
}

@media screen and (max-width: 767px) {
    .info-part2-span1 {
        padding-left: 10%;
    }
}

.info-part2 i {
    font-size: 14px;
}

.info-part2-span2, .info-part2-span3 {
    width: 32.5%;
}

/*公司搜索下面的兩個按鈕*/
.search-prof-project {
    overflow: hidden;
}


.prof-search-btn button {
    border: none;
    width: 5rem;
    height: 2.5rem;
}

.prof-search-btn1 {
    background-color: #fff;
}

.prof-search-btn2 {
    background-color: #fc2b47;
    color: white;
}
.prof-search-btn {
    float: right;
}

