.company-list{
    margin: 2% 0;
    padding: 4%;
    width: 90%;
    border: 1px solid #e8e8e8;
}
.company-list-img {
    display: inline-block;
    width: 50%;
    height: 120px;
}
.company-list-img img{
    width: 65%;
    height: 80%;
    vertical-align: baseline;
}
.company-list .info-part1{
    display: inline-block;
    width: 45%;
}
