.search-page{
    font-size: 0;
    background-color: #f6f7f8;
}
.search-tittle{
    margin: 2% 15px 0 15px;
}
.search-tittle span{
    display: inline-block;
    width: 6rem;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

