.not-find{
    width:100%;
    background-color: #fff;
    margin-bottom: 2%;
}
.not-find-bgImg{
    padding: 6% 0 0 0;
}
.not-find-bgImg .img404{
    text-align: right;
    vertical-align:baseline;
}
.not-find-bgImg .img404 img{
    vertical-align:baseline;
}
.not-find-bgImg .content404{
    padding: 8% 0;
    font-size: 16px;
    font-weight: bold;
    vertical-align: baseline;
}
.not-find-bgImg .content404 p{
    vertical-align: baseline;
}


.not-find-line{
    width:100%;
    height: 3px;
    background-color: #e8e8e8;
}
.not-find-prof .tittle{
    padding: 2% 0;
    font-size: 18px;
    font-weight: bold;
}
.not-find-content{
    padding: 0 0 2% 0;
    background-color: #fff;
    overflow: hidden;
    border-bottom: 2px solid #e8e8e8;
}

.not-find-prof-list{
    width: 95%;
    margin: 0 auto;
    padding: 4% 0;
    border: 1px solid #e8e8e8;
}
.not-find-prof-list:hover{
    box-shadow: 1px 1px 1px #e8e8e8;
}
.list-img{
    width: 50%;
}
.list-img img{
    width: 70%;
    height: 80px;
}
.list-content .tips{
    font-size: 16px;
    color: #f00;
}