.not-find {
    width: 100%;
    background-color: #fff;
    margin-bottom: 2%;
}

.not-find-bgImg {
    margin-top: 2rem;
    padding: 6% 0 0 0;
}

@media screen and (max-width: 767px) {
    .not-find-bgImg {
        text-align: center;
    }

    .not-find-bgImg, .img404 {
        text-align: center !important;
    }
}

.not-find-bgImg .img404 {
    text-align: right;
    vertical-align: baseline;
}

.not-find-bgImg .img404 img {
    vertical-align: baseline;
    display: inline-block;
}

.not-find-bgImg .content404 {
    padding: 8% 0;
    font-size: 16px;
    font-weight: bold;
    vertical-align: baseline;
}

.not-find-bgImg .content404 p {
    vertical-align: baseline;
}

/*.not-find-line {*/
/*width: 100%;*/
/*height: 1px;*/
/*background-color: #e8e8e8;*/
/*}*/
/*最新职位*/
.not-find-prof {
    box-sizing: border-box;
    width: 100%;
    padding: 0 5% 2rem 5%;

}

.not-find-prof .tittle {
    box-sizing: border-box;
    margin: 1rem 0 -10px 0;
    padding: 3% 0;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #e8e8e8;
}

.not-find-prof .row {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #e8e8e8;

}

.not-find-content {
    padding: 0 0 2% 0;
    background-color: #fff;
    overflow: hidden;
    /*border-bottom: 2px solid #e8e8e8;*/
}

.not-find-prof-list {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 2% auto;
    padding: 0 !important;
    width: 100%;
    height: 155px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .not-find-prof-list {
        width: 80%;
    }

    .list-img {
        width: 40% !important;
    }

}

@media screen and (max-width: 550px) {
    .list-img {
        width: 50% !important;
    }

}

@media screen and (max-width: 420px) {
    .list-img {
        width: 80% !important;
    }

}

@media screen and (max-width: 350px) {
    .list-img img {
        height: 80px !important;
    }

}

.list-content {
    text-align: left;
    width: 45%;
}

.not-find-prof-list:hover {
    -moz-box-shadow: 0 4px 7px #e7e7e7;
    -webkit-box-shadow: 0 4px 7px #e7e7e7;
    box-shadow: 0 5px 10px #e7e7e7;
}

.list-img {
    width: 50%;
}

.list-img img {
    width: 90%;
    height: 100px;
}

.list-content .tips {
    font-size: 16px;
    color: #f00;
}
.list-content p{
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}