/*找精英页面样式*/
.elitePage {
    /*width: 100%;*/
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
    overflow: hidden;
}

/*.elitePage .container {*/
    /*margin: 0 !important;*/
    /*padding: 0 !important;*/
    /*width: 100%;*/
/*}*/

/*萝卜多的特点们*/
.elitePage-featureWhite, .elitePage-featureGrey {
    box-sizing: border-box;
    padding: 5rem 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .elitePage-featureWhite, .elitePage-featureGrey {
        padding: 5rem 0;
    }
}

.elitePage-featureWhite {
    background-color: #fff;
}

.elitePage-feature-img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5%;
}

.elitePage-featureWhite-text {
    float: left;
    text-align: left;
    color: #2b3d51;
    width: 28%;
    margin: 5% 5% 5% 10%;
}

.elitePage-featureWhite-text2 {
    width: 32%;
    margin: 0 5% 0 6%;
}

.elitePage-featureGrey-text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 29%;
    margin: 5% 5% 5% 15%;
}

@media screen and (max-width: 800px) {
    .elitePage-featureWhite-text, .elitePage-featureGrey-text {
        float: none;
        text-align: center;
        width: 80%;
        margin: 5% 10%;
    }
}

.elitePage-featureGrey {
    background-color: #f6f7f8;
}

.elitePage-feature-p1 {
    font-size: 24px;
    font-weight: bold;
    color: #2b3d51;
}

.elitePage-feature-p2 {
    font-size: 16px;
    font-weight: 600;
    color: #2b3d51;

}

.elitePage-feature-p3 {
    font-size: 14px;
    word-break: break-all;
    color: #2b3d51;

}

/*萝卜多的服务流程*/
.elitePage-step {
    padding: 5rem 6%;
    background-color: #f6f7f8;
    width: 100%;
}

.elitePage-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.elitePage-title i {
    position: absolute;
    top: 30px;
    left: 49%;
    display: block;
    width: 28px;
    height: 2px;
    background-color: #ff5652;
}

.elitePage-step-content {
    margin-top: 4rem;
    position: relative;
    width: 100%;
    text-align: center;
}

.elitePage-step-content-text1,
.elitePage-step-content-text2,
.elitePage-step-content-text3 {
    position: absolute;
    color: #2d3e50;
    font-size: 14px;
    width: 20%;
    text-align: left;
}

.elitePage-step-content-text1 {
    top: 16px;
    right: 24%;
}

.elitePage-step-content-text2 {
    top: 219px;
    left: 25%;
}

.elitePage-step-content-text3 {
    top: 415px;
    right: 24%;
}

@media screen and (max-width: 1000px) {
    .elitePage-step-content-text1 {
        right: 20%;
    }

    .elitePage-step-content-text2 {
        left: 20%;
    }

    .elitePage-step-content-text3 {
        right: 20%;
    }
}

@media screen and (max-width: 770px) {
    .elitePage-step-content-text1 {
        top: 0;
        right: 15%;
    }

    .elitePage-step-content-text2 {
        left: 15%;
    }

    .elitePage-step-content-text3 {
        top: 400px;
        right: 15%;
    }
}

@media screen and (max-width: 500px) {
    .elitePage-step {
        padding: 5rem 0;
    }

    .elitePage-step-content-text1,
    .elitePage-step-content-text2,
    .elitePage-step-content-text3 {
        width: 25%;
    }

    .elitePage-step-content-text1 {
        top: -10px;
        right: 10%;
    }

    .elitePage-step-content-text2 {
        top: 200px;
        left: 10%;
    }

    .elitePage-step-content-text3 {
        top: 400px;
        right: 10%;
    }
}

@media screen and (max-width: 420px) {
    .elitePage-step-content-text1 {
        right: 5%;
    }

    .elitePage-step-content-text2 {
        left: 5%;
    }

    .elitePage-step-content-text3 {
        top: 394px;
        right: 5%;
    }
}

/*萝卜多的优势*/
.elitePage-advantage {
    padding: 5rem 0;
    background-color: #fff;
    width: 100%;
}

.elitePage-advantage-part {
    margin: 2rem 0;
    text-align: center;
    padding: 0 10px !important;
}

.elitePage-advantage-part p {
    font-size: 15px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elitePage-advantage-part-img {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    background-image: url("../../../images/elite-advantage.png");
    background-size: 800%;
    background-repeat: no-repeat;
}

.eliteImg1 {
    background-position: 0 0;
}

.eliteImg2 {
    background-position: 32% 0;
}

.eliteImg3 {
    background-position: 66% 0;
}

.eliteImg4 {
    background-position: 100% 0;
}

/*萝卜多的成功案例*/
.elitePage-example {
    padding: 5rem 0;
    background-color: #f6f7f8;
    width: 100%;
    text-align: center;
}

.elitePage-example .row {
    width: 100%;
    box-sizing: border-box;
    margin: 2rem auto;
    text-align: center;
}

.elitePage-example-part {
    display: inline-block;
    box-sizing: border-box;
    margin: 2%;
    width: 21%;
    height: 170px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    cursor: pointer;
}

.elitePage-example-part:hover {
    -moz-box-shadow: 0 4px 7px #e7e7e7;
    -webkit-box-shadow: 0 4px 7px #e7e7e7;
    box-shadow: 0 5px 10px #e7e7e7;
}

@media screen and (max-width: 767px) {
    .elitePage-example-part {
        width: 47%;
        margin: 1.5%;
    }
}

@media screen and (max-width: 400px) {
    .elitePage-example-part {
        margin: 1.5% auto;
        width: 90%;
    }
}

.elitePage-example-company {
    box-sizing: border-box;
    padding: 10%;
    text-align: center;
    height: 100%;
}

.elitePage-example-company img {
    max-width: 90%;
    max-height: 100%;
    vertical-align: middle;
}

.elitePage-example-company i {
    /*//用于垂直居中的*/
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.elitePage-example-btn {
    width: 13rem;
    height: 4.5rem;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fc2a48;
}

.elitePage-example-btn:hover {
    -moz-box-shadow: 0 4px 7px #e7e7e7;
    -webkit-box-shadow: 0 4px 7px #e7e7e7;
    box-shadow: 0 10px 15px #e7e7e7;
}