<div class="company-info width-20">
    <div class="container ">
        <div class="row">
            <!--公司详情页头部-->
            <div class="company-info-header row">
                    <div class="company-info-img col-lg-48 col-md-4 col-sm-4 col-xs-4">
                        <img ng-src="{{vm.companyInfo.company.logo}}">
                    </div>
                    <div class="company-info-tittle col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <span class="name">{{vm.companyInfo.company.name}}</span>
                        <span ng-if="vm.companyInfo.company.approved" class="approved">
                            <img src="../../images/company-home-2.png" alt="">
                            萝卜多认证
                        </span>
                        <p>{{vm.companyInfo.company.slogan}}</p>
                    </div>
            </div>
            <!--公司详情页内容区域-->
            <div class="company-info-content row">
                <div class="content-left col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <!--切换按钮-->
                    <div class="company-info-btn">
                        <span class="active" ng-class="{'company-btn':!vm.isChoose}"
                              ng-click="vm.exchangeJob1(!vm.isChoose)">公司详情</span>
                        <span ng-class="{'company-btn':vm.isChoose}"
                              ng-click="vm.exchangeJob1(vm.isChoose)"
                              ui-sref="companyInfo.companyTxt">在招职位</span>
                        <p class="line-content"></p>
                    </div>
                    <!--左侧公司详情区域-->
                    <div class="company-info-txt1 " >
                        <div class="tittle" ng-if="!vm.isChoose">
                            <span></span>
                            <b class="font-16-bold v-middle">公司介绍</b>
                            <div class="txt">{{vm.companyInfo.company.summary}}</div>
                        </div>
                        <!--找职位区域-->
                        <div ui-view="" ng-if="vm.isChoose"></div>

                    </div>
                </div>
                <!--右侧公司其他信息-->
                <div class="col-lg-4 content-right col-xs-12 col-sm-4">
                    <div class="content-right-main">
                        <div class="tittle font-14-bold color-black">
                            公司信息
                            <span class="line"></span>
                        </div>
                        <div class="part">
                            <img src="../../images/people.png" alt="">
                            <span>{{vm.companyInfo.company.totalNum}}人</span>
                        </div>
                        <div class="part">
                            <img src="../../images/company-home-3.png" alt="">
                            <span>{{vm.companyInfo.industryList|industryFilter1}}</span>
                        </div>
                        <div class="part">
                            <img src="../../images/location.png" alt="">
                            <span>{{vm.companyInfo.company.province|provinceFilter}}</span>
                        </div>
                    </div>
                    <div class="content-right-main p-6">
                        <div class="tittle font-14-bold color-black ">
                            公司标签
                            <span class="line"></span>
                        </div>
                        <span class="margin-top-6" style="margin-left: 10%">
                            {{vm.companyInfo.company.financing|financingFilter}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>