<div class="profession-info ">
    <div class="container">
        <div class="row">
            <div class="profession-info-content">
                <div class="profession-introduce width-20 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <h4 class="fontBold">{{ vm.jobInfo.name}}</h4>
                    <p>{{vm.jobInfo.companyName}}</p>
                    <div class="job-informafion">
                        <span class="red">{{vm.jobInfo.compensation|compensationFilter}}</span>
                        <img src="../../images/location-jobdescripe.png" alt="">
                        <span>{{vm.jobInfo.province|provinceFilter}}</span>
                        <img src="../../images/description-2.png" alt="">
                        <span>{{vm.jobInfo.education|educationFilter}}</span>
                        <img src="../../images/description-1.png" alt="">
                        <span>{{vm.jobInfo.experience|experienceFilter}}</span>
                        <div class="first">
                            <img src="../../images/date.png" alt="">
                            <span>发布时间：{{vm.jobInfo.updateAt|updateAtFilter}}</span>
                        </div>
                    </div>
                    <div class="job-intro">
                        <div>
                            <span class="line"></span>
                            <h4>职位描述</h4>
                        </div>

                        <p class="tittle">岗位职责&nbsp;:</p>
                        <pre class="content">{{vm.jobInfo.responsibility}}</pre>
                        <p class="tittle">公司福利&nbsp;:</p>
                        <pre class="content">{{vm.jobInfo.boon}}</pre>
                        <p class="tittle">必要条件&nbsp;:</p>
                        <pre class="content">{{vm.jobInfo.requisite}}</pre>
                    </div>
                </div>
                <div class="company-introduce col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="part">
                        <span class="company-introduce-img" ui-sref="companyInfo({id:vm.jobInfo.companyId})">
                            <img ng-src="{{vm.jobInfo.logo}}" alt="">
                        </span>
                        <p class="tittle fontBold">{{vm.jobInfo.companyName}}</p>
                    </div>
                    <div class="tips">
                        <span class="info fontBold">基本信息</span>
                        <span class="line"></span>
                    </div>
                    <div class="part1">
                        <img src="../../images/people.png" alt="">
                        <span>{{vm.jobInfo.totalNum}}人</span>
                    </div>
                    <div class="part2">
                        <img src="../../images/company-home-3.png" alt="">
                        <span>{{vm.jobInfo.industryList | industryFilter1}}</span>
                    </div>
                </div>
            </div>
            <div class="profession-info-footer width-20">
                <span></span>
                <div class=" interesting" data-toggle="modal" data-target="#myModal2">
                    <button class="button" type="button"  data-toggle="modal"
                            data-target="#bs-example-modal-sme">我感兴趣
                    </button>
                </div>
                <div class="modal fade" id="bs-example-modal-sme">
                    <div class="modal-dialog modal-panel">
                        <div class="modal-content model-main">
                            <div class="modal-header text-center modal-header-style">
                                <button type="button" class="close modal-close-style" data-dismiss="modal"><span
                                        aria-hidden="true">&times;</span><span
                                        class="sr-only">Close</span></button>
                                <p class="modal-title">我感兴趣</p>
                            </div>
                            <div class="modal-body modal-body-style">
                                <p class="modal-body-title">模式介绍：萝卜多先技术面试-再推荐给用人单位</p>
                                <p class="modal-body-content">
                                    萝卜多是一个知根知底的社群招聘。萝卜多的合作企业和候选人，都是萝卜多精心筛选，认证，陪伴多年的伙伴。在萝卜多找工作快，工作有保障。值得您信任的招聘网站。</p>
                                <p class="modal-body-content">您将感兴趣的职位、公司名称以及您的个人信息发送到我们的邮箱，我们会尽快帮您安排。</p>
                                <p class="mg-top-20">邮箱地址：hr@ptteng.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>