<div class="search-profession container">
    <div class="row">
        <div class="search-prof-project">
            <div class="search-prof-input">
                <span class="tittle">关键词：</span>
                <input  type="text" ng-model="vm.data.name"  placeholder="输入职位关键词：如 产品经理等" ng-maxlength="38">
            </div>
            <div class="search-prof-list">
                <span class="tittle">所在地区：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.province)"
                      ng-repeat="x in vm.option.province track by $index">{{x.name}}</span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">职位类别：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.category);vm.selectSubCategoryFn($index,a.choose)"
                      ng-repeat="x in vm.option.category track by $index">{{x.name}}</span>
            </div>
            <div class="search-prof-list" ng-if="!vm.option.category[0].choose && vm.selectedNum < 2">
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.subCategory)"
                      ng-repeat="x in vm.option.subCategory track by $index">{{x.name}}</span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">学历要求：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.education)"
                      ng-repeat="x in vm.option.education track by $index">{{x.name}}</span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">工作经验：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.experience)"
                      ng-repeat="x in vm.option.experience track by $index">{{x.name}}</span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">薪资水平：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.compensation)"
                      ng-repeat="x in vm.option.compensation track by $index">{{x.name}}</span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">发布时间：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.radioType($index,vm.option.updateAt)"
                      ng-repeat="x in vm.option.updateAt track by $index">{{x.name}}</span>
            </div>
            <div class="prof-search-btn">
                <button ng-click="vm.search()">搜索</button>
                <button ng-click="vm.clear()">清除</button>
            </div>
        </div>
        <div class="search-prof-content">
            <div class="prof-content-list" ng-repeat="n in vm.profContent track by $index">
                <div class="row" ui-sref="professionInfo({id:n.id})">
                    <div class="prof-info col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="tittle">{{n.name}}</span>
                        <span>发布时间：{{n.updateAt| updateAtFilter}}</span><br>
                        <span class="cost">{{n.compensation|compensationFilter}}</span><br>
                        <span>{{n.city|cityFilter}}-{{n.county|countyFilter}} /</span>
                        <span>{{n.education|educationFilter}}/</span>
                        <span>{{n.experience|experienceFilter}}</span>
                    </div>
                    <div class="comp-info col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="row">
                            <div class="comp-info-left col-xs-6">
                                <span>{{n.companyName}}</span><br>
                                <span>{{n.industryList|industryFilter1}}</span>
                            </div>
                            <div class="comp-info-right col-xs-6">
                                <img src="{{n.logo}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--页码-->
            <div class="search-page col-xs-12">
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
            </div>
            <!--没有数据时，显示404页面-->
            <not-find ng-if="vm.isNotFind" showrecommend="{{vm.isShowRecommend}}" size="3"></not-find>
        </div>

    </div>
</div>