<div class="profession-info ">
    <div class="container">
        <div class="row">
            <div class="profession-info-content">
                <div class="profession-introduce col-lg-8 col-md-8 col-sm-8">
                    <h4>{{ vm.jobInfo.name}}</h4>
                    <p>{{vm.jobInfo.companyName}}</p>
                    <div class="info">
                        <span class="red">{{vm.jobInfo.compensation|compensationFilter}}</span>
                        <img src="../../images/location-jobdescripe.png" alt="">
                        <span>{{vm.jobInfo.province|provinceFilter}}</span>
                        <img src="../../images/description-2.png" alt="">
                        <span>{{vm.jobInfo.education|educationFilter}}</span>
                        <img src="../../images/description-1.png" alt="">
                        <span>{{vm.jobInfo.experience|experienceFilter}}</span>

                    </div>
                    <div class="job-intro">
                        <div class="first">
                            <img src="../../images/date.png" alt="">
                            <span>发布时间：{{vm.jobInfo.updateAt|updateAtFilter}}</span>
                        </div>
                        <div>
                            <span class="line"></span>
                            <h4>岗位描述</h4>
                        </div>

                        <p class="tittle">岗位职责</p>
                        <p class="content">{{vm.jobInfo.responsibility}}</p>
                        <p class="tittle">公司福利</p>
                        <p class="content">{{vm.jobInfo.boon}}</p>
                        <p class="tittle">必要条件</p>
                        <p class="content">{{vm.jobInfo.requisite}}</p>
                    </div>
                </div>
                <div class="company-introduce col-lg-4 col-md-4 col-sm-4">
                    <div class="part">
                        <span class="img">
                            <img src="{{vm.jobInfo.logo}}" alt="">
                        </span>
                        <p class="tittle">{{vm.jobInfo.companyName}}</p>
                    </div>
                    <div class="tips">
                        <span class="info">基本信息</span>
                        <span class="line"></span>
                    </div>
                    <div class="part1">
                        <img src="../../images/people.png" alt="">
                        <span>{{vm.jobInfo.totalNum}}人</span>
                    </div>
                    <div class="part2">
                        <img src="../../images/company-home-3.png" alt="">
                        <span>{{vm.jobInfo.industryList | industryFilter1}}</span>
                    </div>
                </div>
            </div>
            <div class="profession-info-footer">
                <button>我感兴趣</button>
            </div>
        </div>
    </div>
</div>