<div class="aboutPage container" ng-controller="aboutCtrl">
    <!--关于我们页面-->
    <div class="row">
        <div class="aboutPage-slider col-sm-12 col-md-3 col-lg-3">
            <!--左侧点击切换栏-->
            <ul>
                <li href="#aboutUs">
                    <i class="iconfont">&#xe601;</i>关于我们
                </li>
                <li href="#contactUs">
                    <i class="iconfont">&#xe918;</i>联系我们
                </li>
            </ul>
        </div>
        <div class="aboutPage-content col-sm-12 col-md-9 col-lg-9">
            <!--右侧主要的内容展示部分-->
            <div class="aboutPage-content-aboutUs" id="aboutUs">
                <!--关于我们详情-->
                <h3>什么是萝卜多</h3>
                <p>
                    萝卜多是针对创业公司以及独立人才寻找伙伴合作，提供多对多服务，以按需推荐的方式帮助创业团队以及人才解决、盲目寻找、茫然等待的问题。萝卜多不同于其他招聘网站。萝卜多的合作企业和候选人，都是萝卜多精心筛选，认证，陪伴多年的伙伴。
                </p>
                <h3>萝卜多团队介绍</h3>
                <p>
                    成立于2014年，2015年3月开始运营，先后开启了IT修真院、草船云、萝卜多等三条项目主线，主打高质专业高效低价的理念，以卓越的技术实力和人才鉴别能力奠定基石，立足市场。
                </p>
                <p>
                    葡萄藤始终秉持促进中国企业创新与成长为愿景，凭借其团队丰富的行业经验和全球资源网络以及在业界的声誉，不遗余力地帮助创业家和他们的企业突破自我、不断创新、共创事业、共享成功！
                </p>
            </div>
            <div class="aboutPage-content-contactUS" id="contactUs">
                <!--联系我们详情-->
                <h4>北京葡萄藤信息技术有限公司</h4>
                <span class="aboutPage-content-contactUS-span1">
                    <i class="iconfont">&#xe918;</i>
                    电话：(010)59478634
                </span>
                <span>
                    <i class="iconfont">&#xe62f;</i>
                    网址：www.luoboduo.com
                </span>
                <span class="aboutPage-content-contactUS-span1">
                    <i class="iconfont">&#xe68b;</i>
                   邮箱：kefu@ptteng.com
                </span>
                <span>
                    <i class="iconfont">&#x3492;</i>
                   地址：北京市海淀区翠微路甲10院225室
                </span>
                <img src="../images/about-map.png" alt="此处为地图">
            </div>
        </div>
    </div>


</div>