<div class="companyListPage">
    <img src="../images/companyList-img.png" alt="此处为图片" class="companyList-img">
    <div class="search-profession container">
        <div class="search-prof-project" style="border-top: none">
            <!--搜索部分-->
            <div class="search-prof-list">
                <span class="tittle">所在地区：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.province)"
                      ng-repeat="x in vm.option.province track by $index">
                    {{x.name}}
                </span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">所属行业：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.industry)"
                      ng-repeat="x in vm.option.industry track by $index">
                    {{x.name}}
                </span>
            </div>
            <div class="search-prof-list">
                <span class="tittle">融资规模：</span>
                <span class="item" ng-class="{true:'search-btn'}[x.choose]"
                      ng-click="vm.checkboxMulti($index,vm.option.financing)"
                      ng-repeat="x in vm.option.financing track by $index">
                    {{x.name}}
                </span>
            </div>
        </div>

        <div class="search-company-content" ng-if="vm.total!=0">
            <!--搜索的结果展示部分-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"
                     ng-repeat="x in vm.companyInfo track by $index"
                     style="overflow: hidden;text-align: center">
                    <div class="company-list" ui-sref="companyInfo({id:x.id})">
                        <div class="info-part">
                            <div class="company-list-img">
                                <img ng-src="{{x.logo}}">
                            </div>
                            <div class="info-part1">
                                <p class="info-part1-name">{{x.name}}</p>
                                <p class="info-part1-slogan">{{x.slogan}}</p>
                                <p class="info-part1-num"><span style="color: red">{{x.professionNum}}</span>个在招职位</p>
                            </div>
                        </div>
                        <div class="info-part2">
                            <span class="info-part2-span1">
                                <i class="iconfont">&#xe67c;</i>
                                {{x.industryList | industryFilter}}
                            </span>
                            <span class="info-part2-span2">
                                <i class="iconfont">&#xe62b;</i>
                                {{x.financing|financingFilter}}
                            </span>
                            <span class="info-part2-span3">
                                <i class="iconfont">&#x3492;</i>
                                {{x.province|provinceFilter}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="search-page col-xs-12">
                <pagination ng-if="vm.total" total="{{vm.total}}"></pagination>
                <not-find ng-if="vm.isNotFind" showrecommend="{{vm.isShowRecommend}}" size="3"></not-find>
            </div>
            <!--没有数据时，显示404页面-->
        </div>
    </div>
</div>
