<div class="elitePage container" ng-controller="eliteCtrl">
    <!--找精英页面-->
    <div class="carousel slide"
         id="carousel-example-generic"
         data-ride="carousel">
        <!--轮播图-->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img ng-src="{{eliteBanner.img}}" href="{{eliteBanner.url}}">
            </div>
        </div>
    </div>
    <div class="elitePage-featureWhite">
        <!--特点1-->
        <div class="elitePage-feature-img">
            <img src="../images/elite-img1.png">
        </div>
        <div class="elitePage-featureWhite-text">
            <p class="elitePage-feature-p1">0预付，无风险</p>
            <p class="elitePage-feature-p2">入职付一半，转正付一半</p>
            <p class="elitePage-feature-p3">普通猎头是三个月的薪水。
                非一般的我们只收一个月的薪水。
                如果试用期不通过，免费推荐另一个
            </p>
        </div>

    </div>
    <div class="elitePage-featureGrey">
        <!--特点2-->
        <div class="elitePage-feature-img">
            <img src="../images/elite-img2.png">
        </div>
        <div class="elitePage-featureGrey-text">
            <p class="elitePage-feature-p1">专注于</p>
            <p class="elitePage-feature-p2">最新最热门的IT互联网人才</p>
            <p class="elitePage-feature-p3">萝卜多自己开发了一套强大的IT互联网人才库系统，
                有业界最新最活跃最有效的人才库，这里有最新最热门的IT互联网运营和技术人才，
                在各大互联网公司都有足够强的人脉圈。
            </p>
        </div>
    </div>
    <div class="elitePage-featureWhite">
        <!--特点3-->
        <div class="elitePage-feature-img">
            <img src="../images/elite-img3.png">
        </div>
        <div class="elitePage-featureWhite-text elitePage-featureWhite-text2">
            <p class="elitePage-feature-p1">优秀人才，高效推荐</p>
            <p class="elitePage-feature-p3">1-3天推荐首批候选人<br>
                甄选人才&nbsp;&nbsp;简历脱水&nbsp;&nbsp;推荐人才 <br><br>
                3-5天安排候选人面试<br>
                安排面试&nbsp;&nbsp;协助客户选人用人 <br><br>
                平均一周内推荐成功<br>
                背景调查&nbsp;&nbsp;多方洽谈&nbsp;&nbsp;增值服务
            </p>
        </div>
    </div>
    <div class="elitePage-step">
        <!--萝卜多服务流程-->
        <div class="elitePage-title">
            萝卜多，服务流程
            <i></i>
        </div>
        <div class="elitePage-step-content">
            <img src="../images/elite-step.png">
            <span class="elitePage-step-content-text1">
                意向洽谈、深入评审 确认合作、签订合同、提出需求、提供jd、确立招聘标准
            </span>
            <span class="elitePage-step-content-text2">
                开始招聘、候选人评审，初步确立聘用意向，背景调查
            </span>
            <span class="elitePage-step-content-text3">
                发送聘请通知，候选人上岗，付款、转入售后服务
            </span>
        </div>
    </div>
    <div class="elitePage-advantage">
        <!--萝卜多的优势-->
        <div class="elitePage-title">
            我们的优势
            <i></i>
        </div>
        <div class="row" style="margin-top: 2rem">
            <div class="elitePage-advantage-part col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="elitePage-advantage-part-img eliteImg1"></div>
                <p>30%的行业标准收费水平</p>
            </div>
            <div class="elitePage-advantage-part col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="elitePage-advantage-part-img eliteImg2"></div>
                <p>一半一半无风险的收费模式</p>
            </div>
            <div class="elitePage-advantage-part col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="elitePage-advantage-part-img eliteImg3"></div>
                <p>试用期内不满重推的推荐制度</p>
            </div>
            <div class="elitePage-advantage-part col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="elitePage-advantage-part-img eliteImg4"></div>
                <p>高价值高数量的人才储备机制</p>
            </div>
        </div>
    </div>
    <div class="elitePage-example">
        <!--成功案例-->
        <div class="elitePage-title">
            成功案例
            <i></i>
        </div>
        <div class="row">

        </div>
    </div>
</div>