<div class="homePage" ng-controller="homeCtrl">
    <!--萝卜多首页页面-->
    <div class="carousel slide"
         id="carousel-example-generic"
         data-ride="carousel">
        <!--首页轮播图-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item"
                 ng-repeat="banner in vm.bannerUrl.articleList track by $index"
                 ng-class="{'active':$first}"
                 ui-sref="profession">
                <img ng-src="{{banner.img}}" href="{{banner.url}}">
            </div>
        </div>
        <!-- 轮播（Carousel）项目-->
        <!--<a class="" href="#myCarousel"-->
        <!--data-slide="prev">&lsaquo;</a>-->
        <!--<a class="" href="#myCarousel"-->
        <!--data-slide="next">&rsaquo;</a>-->
    </div>
</div>