<div class="profession-main">
    <div class="container ">
        <!--左侧导航栏-->
        <div class="row">
            <div class="profession-home-header">
                <div class="profession-home-bg ">
                    <div>
                        <div class="prof-home-nav"
                             ng-repeat="li in vm.list track by $index">
                            <div class="prof-home-nav-tittle">
                                <i class="imgOne imgSelect"></i>
                                <span>{{li.jobType|jobTypeFilter}}</span>
                                <i class="img-left"></i>
                            </div>
                            <div class="prof-home-nav-content">
                                <span ng-repeat="item in li.jobTypeList track by $index"
                                      ui-sref="searchPage.professionSearch({type:item.secondType})">
                                    {{item.secondType|jobSecondFilter}}
                                </span>
                            </div>
                            <div class="prof-nav-item" ng-repeat="item in li.jobTypeList track by $index">
                                <div ng-repeat="item in li.jobTypeList track by $index">
                                    <span class="tittle">
                                        {{item.secondType|jobSecondFilter}}
                                    </span>
                                    <span ui-sref="searchPage.professionSearch({type:item.secondType,subType:itemSecond.thirdType})"
                                          class="content"
                                          ng-repeat="itemSecond in item.secondTypeList track by $index">{{itemSecond.jobName}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--banner-->
                <div class="prof-banner carousel slide"
                     id="prof-Carousel"
                     data-ride="carousel">
                    <div class=" carousel-inner" role="listbox">
                        <div class="item cursor-p"  ng-repeat="num in  vm.bannerUrl.articleList track by $index"
                             ng-class="{'active':$first}">
                            {{num.img}}
                            <img ng-src="{{num.img}}" alt="" href="{{num.url}}">
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control prof-carousel-btn" href="#prof-Carousel" role="button"
                       data-slide="prev"
                       onclick="return false">
                        <span aria-hidden="true"><img src="../images/pre-2.png" class="prof-carousel-btn1"></span>
                    </a>
                    <a class="right carousel-control prof-carousel-btn" href="#prof-Carousel" role="button"
                       data-slide="next"
                       onclick="return false">
                        <span aria-hidden="true"><img src="../images/next-2.png"  class="prof-carousel-btn2"></span>
                    </a>
                    <!-- 轮播（Carousel）项目-->
                    <ol class="carousel-indicators prof-banner-ol">
                        <li data-target="#prof-Carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#prof-Carousel" data-slide-to="1"></li>
                        <li data-target="#prof-Carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="prof-input-search">
                        <div class="prof-search-content">
                            <span>公司名称</span>
                            <input type="text" ng-model="vm.jobCompanyName" placeholder="请输入公司名称">
                            <button ui-sref="searchPage.companySearch({name:vm.jobCompanyName})">搜索</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--推荐最新职位-->
        </div>
        <div class="row">
            <div class="prof-recommend">
                <div class="prof-recommend-tittle">
                    <span class="width-20"
                          ng-class="{'recommend-tittle':!vm.isChoose}"
                          ng-click="exchangeJob(!vm.isChoose)">推荐职位</span>
                    <span ng-class="{'recommend-tittle':vm.isChoose}"
                          ng-click="exchangeJob(vm.isChoose)">最新职位</span>
                    <span class="prof-recommend-more"
                          ui-sref="recommendProfession({n:vm.isChoose||false})">查看更多></span>
                </div>
            </div>
            <!--推荐职位-->
            <div class="recommend-job" ng-if="!vm.isChoose">
                <div class="recommend-job-list">
                    <div class="col-lg-3 col-md-6 col-sm-12"
                         ng-repeat="item in vm.professionInfo track by $index"
                         ui-sref="professionInfo({id:item.id})">
                        <div class="recommend-job-box">
                            <div class="job-box-img">
                                <img ng-src="{{item.logo}}">
                            </div>
                            <div class="job-box-content">
                                <p class="cost">{{item.compensation|compensationFilter}}</p>
                                <p class="name">{{item.name}}</p>
                                <p>{{item.companyName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--最新职位-->
            <div class="recommend-job " ng-if="vm.isChoose">
                <div class="recommend-job-list">
                    <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat="item in  vm.newProfessionInfo track by $index"
                         ui-sref="professionInfo({id:item.id})">
                        <div class="recommend-job-box">
                            <div class="job-box-img">
                                <img ng-src="{{item.logo}}">
                            </div>
                            <div class="job-box-content">
                                <p class="cost">{{item.compensation|compensationFilter}}</p>
                                <p class="name">{{item.name}}</p>
                                <p>{{item.companyName}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--推荐公司-->
            <div class="great-company">
                <div class="prof-recommend-tittle">
                    <span class="great-job-tittle width-20">推荐公司</span>
                    <span class="prof-recommend-more .great-job-more pt-1"
                          ui-sref="searchPage.companySearch">查看更多></span>
                </div>
                <div class="great-company-info col-lg-4 col-md-4 bg-color-w"
                     ui-sref="companyInfo({id:vm.companyInfo[1].id})">
                    <img ng-src="{{vm.companyImgUrl.img}}">
                    <div class="company-info-txt">
                        <p class="tittle">{{vm.companyInfo[0].name}}</p>{{vm.newCompany[0].company.name}}
                        <p style="display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                            {{vm.companyInfo[0].slogan}}
                        </p>
                        <p>
                            <span class="info-part2-span1">
                                <i class="iconfont">&#xe67c;</i>
                                {{vm.companyInfo[0].industryList | industryFilter}}</span>
                            <span class="info-part2-span2">
                                 <i class="iconfont">&#xe62b;</i>
                                {{vm.companyInfo[0].company.financing | financingFilter}}</span>
                            <span class="info-part2-span3">
                                   <i class="iconfont">&#x3492;</i>
                                {{"北京"}}</span>
                        </p>
                    </div>
                </div>
                <div class="great-company-logo col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-xs-6 great-company-logo-part" ng-repeat="n in vm.newJob track by $index">
                            <div class="company-logo-list" ui-sref="companyInfo({id:n.id})" >
                                <img  ng-src="{{n.logo}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profCarousel" class="carousel slide bg-color-w">
                    <div class="row">
                        <!--轮播项目-->
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 profCarousel-content">
                            <div class="carousel-inner carousel-innergai prof-carousel">
                                <div class="item great-company-list " ng-class="{'active':$first}"
                                     ng-repeat="list in vm.carouselJob track by $index"
                                     ui-sref="companyInfo({id: list.id})">
                                    <!--<div class="row">-->
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-10 great-company-list">
                                            <div class="img">
                                                <img ng-src="{{list.logo}}">
                                            </div>
                                            <div class="company-info">
                                                <p class="tittle">{{list.name}}</p>
                                                <p class="great-company-list-slogan">{{list.companySlogan}}</p>
                                                <p class="great-company-industry" >
                                                    <span ng-repeat="num in list.industryList track by $index">{{num.industry|industry2Fliter}}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 prof-info">
                                            <h4>正在热招</h4>
                                            <div class="jobNameContent">
                                                <span ng-repeat="jobItem in list.jobName track by $index">
                                                    {{jobItem.name}}
                                                </span>
                                            </div>
                                        </div>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                         轮播（Carousel）指标
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 carousel-indicatorsgai-box">
                            <ul class="carousel-indicators carousel-indicatorsgai ">
                                <li data-target="#profCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#profCarousel" data-slide-to="1"></li>
                                <li data-target="#profCarousel" data-slide-to="2"></li>
                                <li data-target="#profCarousel" data-slide-to="3"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--UI样式区-->
            <div class="profession-tips ">
                <div class="profession-tips-part">
                    <div class="part-left">
                        <img src="../images/prof-introdus.png" alt="">
                    </div>
                    <div class="part-left">
                        <h3>无成本,零风险</h3>
                        <p class="tittle">无任何隐含复用全程免费</p>
                        <p>人才从投递到成功入职不需要任何费用，通过测试后还可免费提供从业建议，不浪费每一份天赋</p>
                    </div>
                </div>
                <div class="profession-tips-part">
                    <div class="part-left">
                        <h3>高效匹配，高度契合</h3>
                        <p>1-3天发送首个聘请通知<br>
                            甄选职位&nbsp;深度匹配&nbsp;发送聘请通知</p>
                        <p>3-5天安排候选人面试<br>
                            安排面试&nbsp;协助客户快速入职</p>
                        <p>平均15天推荐成功<br>
                            多方洽谈&nbsp;售后安排</p>
                    </div>
                    <div class="part-left">
                        <img src="../images/prof-information.png" alt="">
                    </div>
                </div>
            </div>
            <!--底部-->
            <div class="prof-footer">
                <p class="tittle">加入萝卜多人才推荐计划</p>
                <p>投送简历：kefu@ptteng.com</p>
            </div>
        </div>
    </div>
</div>