<div class="container profession-main">
    <!--左侧导航栏-->
    <div class="row">
        <div class="profession-home-bg">
            <div class="col-lg-2 col-md-2">
                <div class="prof-home-nav"  ng-repeat="li in vm.list track by $index">
                    <div class="prof-home-nav-tittle" >
                        <img src="../images/profession-home-img1.png" alt="">
                        <span>{{li.jobType|jobTypeFilter}}</span>
                        <img class="img-left" src="../images/profession-home-left.png" alt="">
                    </div>
                    <div class="prof-home-nav-content">
                       <span  ng-repeat="item in li.jobTypeList track by $index">{{item.secondType|jobSecondFilter}}</span>
                    </div>
                    <div class="prof-nav-item" ng-repeat="item in li.jobTypeList track by $index">
                        <div ng-repeat="item in li.jobTypeList track by $index">
                            <span class="tittle">{{item.secondType|jobSecondFilter}}</span>
                            <span class="content" ng-repeat="itemSecond in item.secondTypeList track by $index">{{itemSecond.jobName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--banner-->
        <div class="prof-banner col-lg-10 pd-0-r"  id="myCarousel">
            <div class="carousel-inner">
                <div class="item" ng-repeat="num in  vm.bannerUrl.articleList track by $index"  ng-class="{'active':$first}">
                    {{num.img}}
                    <img src="{{num.img}}" alt="" href="{{num.url}}">
                </div>
            </div>
            <!-- 轮播（Carousel）项目-->
            <a class="" href="#myCarousel"
               data-slide="prev">&lsaquo;</a>
            <a class="" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
            <div class="prof-input-search">
                <div class="prof-search-content">
                    <span>公司名称</span>
                    <input type="text" ng-model="vm.jobCompanyName">
                    <button>搜索</button>
                </div>
            </div>
        </div>
        <!--推荐最新职位-->
        <div class="prof-recommend col-lg-12">
            <div class="prof-recommend-tittle">
                <span ng-class="{'recommend-tittle':!vm.isChoose}" ng-click="exchangeJob(!vm.isChoose)">推荐职位</span>
                <span ng-class="{'recommend-tittle':vm.isChoose}" ng-click="exchangeJob(vm.isChoose)">最新职位</span>
                <span class="prof-recommend-more">更多</span>
            </div>
        </div>
        <!--推荐职位-->
        <div class="recommend-job row" ng-if="!vm.isChoose">
            <div class="recommend-job-list">
                <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat="item in vm.professionInfo track by $index">
                    <div class="recommend-job-box">
                        <div class="job-box-img">
                            <img src="{{item.logo}}">
                        </div>
                        <div class="job-box-content">
                            <p>{{item.compensation|compensationFilter}}</p>
                            <p>{{item.category| subCategoryFilter}}</p>
                            <p>{{item.companyName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //最新职位
        <div class="recommend-job row" ng-if="vm.isChoose">
            <div class="recommend-job-list">
                <div class="col-lg-3 col-md-6 col-sm-12" ng-repeat="item in  vm.newProfessionInfo track by $index">
                    <div class="recommend-job-box">
                        <div class="job-box-img">
                            <img src="{{item.logo}}">
                        </div>
                        <div class="job-box-content">
                            <p>{{item.compensation|compensationFilter}}</p>
                            <p>{{item.category| subCategoryFilter}}</p>
                            <p>{{item.companyName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--优质公司-->
        <div class="great-company col-lg-12">
            <div class="prof-recommend-tittle">
                <span>推荐公司</span>
                <span class="prof-recommend-more">更多</span>
            </div>
            <div class="great-company-info col-lg-4">
                <img src="{{vm.companyImgUrl.img}}" alt="">
                <div class="company-info-txt">
                    <p class="tittle">{{ vm.companyInfo[0].name}}</p>
                    <p>{{vm.companyInfo[0].slogan}}</p>
                    <p>
                        <span>{{vm.companyInfo[0].industryList | industryFilter}}</span>
                        <span>{{vm.companyInfo[0].financing | financingFilter}}</span>
                        <span>{{"北京"}}</span>
                    </p>
                </div>
            </div>
            <div class="great-company-list col-lg-12" ng-repeat="list in vm.companyInfo track by $index"x>
                <div class="col-log-7"  >
                    <div class="img">
                        <img src="{{list.logo}}" alt="">
                    </div>
                    <div class="company-info">
                        <p>{{list.name}}</p>
                        <p>{{list.slogan}}</p>
                        <p>
                            <span>{{list.financing| financingFilter}}</span>
                        </p>
                    </div>
                </div>
                <h4>正在热招</h4>
                    <div class="col-lg-5" ng-repeat="jobItem in list.jobList track by $index">
                        <span >{{jobItem.category|subCategoryFilter}}</span>
                    </div>


            </div>

        </div>
    </div>
</div>