<div class="container profession-main">
    <!--左侧导航栏-->
    <div class="row">
        <div class="profession-home-bg">
            <div class="col-lg-2 col-md-2">
                <div class="prof-home-nav"  ng-repeat="li in vm.list track by $index">
                    <div class="prof-home-nav-tittle" >
                        <img src="../images/profession-home-img1.png" alt="">
                        <span>{{li.jobType|jobTypeFilter}}</span>
                        <img class="img-left" src="../images/profession-home-left.png" alt="">
                    </div>
                    <div class="prof-home-nav-content">
                       <span  ng-repeat="item in li.jobTypeList track by $index">{{item.secondType|jobSecondFilter}}</span>
                    </div>
                    <div class="prof-nav-item" ng-repeat="item in li.jobTypeList track by $index">
                        <div ng-repeat="item in li.jobTypeList track by $index">
                            <span class="tittle">{{item.secondType|jobSecondFilter}}</span>
                            <span class="content" ng-repeat="itemSecond in item.secondTypeList track by $index">{{itemSecond.jobName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--banner-->
        <div class="prof-banner col-lg-10 pd-0-r"  id="myCarousel">
            <div class="carousel-inner">
                <div class="item" ng-repeat="num in  vm.bannerUrl.articleList track by $index"  ng-class="{'active':$first}">
                    {{num.img}}
                    <img src="{{num.img}}" alt="" href="{{num.url}}">
                </div>
            </div>
            <!-- 轮播（Carousel）项目-->
            <a class="" href="#myCarousel"
               data-slide="prev">&lsaquo;</a>
            <a class="" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
            <div class="prof-input-search">
                <div class="prof-search-content">
                    <span>公司名称</span>
                    <input type="text" ng-model="vm.jobCompanyName">
                    <button>搜索</button>
                </div>
            </div>
        </div>
        //推荐最新职位
        <div class="prof-recommend col-lg-12">
            <div class="prof-recommend-tittle">
                <span>推荐职位</span>
                <span>最新职位</span>
                <span class="prof-recommend-more">更多</span>
            </div>
        </div>
    </div>
</div>